#wrapper {
	width: 600px;
	float: left;
	position: relative;
}
#player1 {
	position: relative;
	float: left;
	width: 45%;
}

#player2 {
	position: relative;
	float: left;
	width: 45%;
}
#output {
	float: left;
	clear: left;
	text-align: center;
}
#subCompare {
	float: left;
	clear: right;
}
